
.top-container {
  background-color: #36b5b0;
  padding: 1em;
  margin: auto;
  width: 100%;
}
.second-container {
  background-color: #9dd8c8;
  padding: 1em;
  margin: auto;
  width: 100%;
}
.third-container {
  background-color: #f09595;
  padding: 1em;
  margin: auto;
  width: 100%;
}
.fourth-container {
  background-color: #fcf5b0;
  padding: 0.6em 1em 0.2em;
  margin: auto;
  width: 100%;
}
body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}
hr {
  background-color: none;
  border-style: dotted none none;
  border-top-style: dotted;
  border-color: #dff6f0;
  border-width: 0.6em;
  width: 3%
}
h1 {
  font-weight: 600;
  font-size: 1em;
  margin: auto;
  padding: 1em;
}
h3 {
  padding: 1em;
  display: inline-block;
  position: relative;
  font-weight: 600 ;
  font-size: 1em;
  margin: auto;
}
h4 {
  display: inline-block;
  position: relative;
  font-weight: 600 ;
  font-size: 1.2em;
  margin: auto;
  padding: 1.5em;
}
h5 {
  position: relative;
  font-weight: 600 ;
  font-size: 0.5em;
  margin: auto;
  padding: 1.5em;
}
.circular {
  border-radius: 100%;
  background-color: white;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.dp {
  display: block;
  width: 10em;
  padding: 0.6em;
}

.light {
  color: white;
}
.dark {
  color: #272343;
}
.para {
  display: block;
  font-weight: 100;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.6em;
  width: 50%
}
.button {
  background-color: #272343;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #272343;
  color: white;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #272343;
  color: white;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 600px) {
/* Styles */

.top-container {width :500px!important;}

}
